
.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
 /* hidden will hide the content that is outside the container */
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 350px; 
}

.portfolio-box img {
    width: 100%;
    height:80%;
    transition: .5s ease;
}

/* makes the container larger on hover*/
.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .portfolio-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;  
    font-size: 2rem;
    background-color: var(--main-color);
    color: var(--bg-color)
}

/* adds linear gradient over the image  */
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
/* effect only happens when hovering over each container */
.portfolio-box:hover  .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

    font-weight: bolder;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;

}

.portfolio-layer a i {
    font-size: 4rem;
    color: var(--second-bg-color);
    background-color: var(--main-color); 
    border-radius: 20px; /* Add rounded corners */

}

.project-links {
    display: flex;
    justify-content: center; /* Center-align the anchor tags horizontally */
    align-items: center; /* Center-align the anchor tags vertically */
    gap: 10px; /* Add spacing between anchor tags */
    padding: 4px;
    width: 100%; /* Adjust the width as needed */
}

.project-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}


.project-links a:last-child {
    margin-left: 10px; /* Add spacing to the left of the last anchor tag */
}

.project-links a i {
    font-size: 2rem;
    color: var(--second-bg-color);
    background-color: var(--main-color); 
    border-radius: 20px; /* Add rounded corners */
}
