
.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .email-input{
    margin-left: 14px;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* Media query for 850px and below */
@media screen and (max-width: 850px) {
    .contact form .input-box {
        flex-direction: column;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .contact form .input-box .email-input{
        margin-left: 0px;
    }
}

/* Media query for 768px and below */
@media screen and (max-width: 768px) {
    .contact form .input-box {
        flex-direction: column;
    }

    .contact form .input-box input {
        width: 100%;
    }

    .contact form .input-box .email-input{
        margin-left: 0px;
    }
}

/* Media query 375px and below */
@media screen and (max-width: 320px) {
    .contact form .input-box input {
        width: 100%;
    }
}